<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>
  <context-param>
      <param-name>Usuario</param-name>
      <param-value>SisWeb</param-value>      
  </context-param>
  <context-param>
      <param-name>Senha</param-name>
      <param-value>Sis12345</param-value>
  </context-param>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>br.edu.estacio.interfaces.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/Cadastro</url-pattern>
  	<url-pattern>/Listagem</url-pattern>
  	<url-pattern>/Excluir/*</url-pattern>
  	<url-pattern>/Editar/*</url-pattern>
  </filter-mapping>  
  <servlet>
  	<servlet-name>Cadastro</servlet-name>
  	<servlet-class>br.edu.estacio.interfaces.Cadastro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Listagem</servlet-name>
  	<servlet-class>br.edu.estacio.interfaces.Listagem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Excluir</servlet-name>
  	<servlet-class>br.edu.estacio.interfaces.Excluir</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Editar</servlet-name>
  	<servlet-class>br.edu.estacio.interfaces.Editar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>br.edu.estacio.interfaces.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Cadastro</servlet-name>
  	<url-pattern>/Cadastro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Listagem</servlet-name>
  	<url-pattern>/Listagem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Excluir</servlet-name>
  	<url-pattern>/Excluir/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Editar</servlet-name>
  	<url-pattern>/Editar/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
      <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
